<div class="well well-sm">
    <h2>
        <i class="glyphicon glyphicon-home"></i>  <strong> Properties</strong>
    </h2>
</div>
<div class="container">
    <div class="panel panel-default ui-view-detail-panel">
        <div class="panel-heading ui-view-detail-panel-heading">{{property.PropertyId ? 'Edit' : 'Add'}} Property</div>
        <div class="panel-body ui-view-detail-panel-body">
            <div class="ui-view-detail-panel-input">
                <div class="col-xs-6">
                    <div class="input">
                        <span>Property Name</span>
                        <input class="form-control input-lg" id="propertyName" ng-model="property.Name" autofocus />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input">
                        <span>City</span>
                        <input class="form-control input-lg" id="propertyCity" ng-model="property.City"/>
                    </div>
                </div>
            </div>
            <div class="ui-view-detail-panel-input">
                <div class="col-xs-6">
                    <div class="input">
                        <span>Address 1</span>
                        <input class="form-control input-lg" id="propertyAddress1" ng-model="property.Address1" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input">
                        <span>State</span>
                        <input class="form-control input-lg" id="propertyState" ng-model="property.State"/>
                    </div>
                </div>
            </div>
            <div class="ui-view-detail-panel-input">
                <div class="col-xs-6">
                    <div class="input">
                        <span>Address 2</span>
                        <input class="form-control input-lg" id="propertyAddress2" ng-model="property.Address2" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input">
                        <span>Zipcode</span>
                        <input class="form-control input-lg" id="propertyZip" ng-model="property.Zip"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix" style="margin-top:50px;">
            <button class="btn btn-lg btn-default btn-block center-block ui-view-detail-btn-save" ng-click="saveProperty()">
                <i class="fa fa-save"></i> Save
            </button>
        </div>
    </div>
</div>

